.item:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

#root {
  background-color: #282c34;
}

.container {
  background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #57585a;
}

.judul {
  justify-content: center;
  align-items: center;
}
.h1 {
  color: rgb(117, 183, 158);
  height: 150px;
  font-size: 30px;
}